root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
tab_width = 2
indent_size = 2
indent_style = space
charset = utf-8
end_of_line = lf

[*.{js,ts,mjs,cjs,tsx}]
quote_type = single
max_line_length = 100
